* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* font-family: 'Lucida Sans Unicode', 'sans-serif';
    background-color: white; */

        background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
        background-size: 400% 400%;
        animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

header {
    padding: 50px 15px 0px;
}

header h1 {
    color: black;
    font-size: 50px;
    font-weight: 500;
    text-align: center;
}

main { 
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

section {
    padding: 15px;
}

.searchBox {
    display: block;
    width: 100%;
    padding: 15px;

    border:none;
    outline: none;
    background: none;

    background-color: orange;
    border-radius: 20px;
    
    color: lightgray;
    font-size:20px;
    font-weight: 300;

    transition: 0.5s ease-out;
}

.searchBox:focus{
    box-shadow: 0px 0px 10px 5px black;
}

.results {
    display: flex;
    flex-wrap: wrap;
    margin: 0-20px;
}

.results .result {
    width: 33.33%;
    min-width: 250px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.results .result img {
    display: block;
    width: 100%;
}

.results .result h3{
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    padding: 10px;
    background: grey;
    flex: 1 1 100%;
    transition: 0.5s ease-out;
}

.results .result:hover h3 {
background: white;
color: teal;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vh;
    height: 100vh;
    background-color: whitesmoke;
    overflow-y: scroll;
}

.popup .content {
    display: block;
    width:100%;
    max-width:960px;
    margin: 0 auto;
    padding: 25px;
    color:black;
}

.popup .content h2{
    font-size: 30px;
    font-weight: 600;
}

.popup .content h2 span{
    font-weight: 300;
    font-size: 20px;
}

.popup .content .rating{
    margin-bottom: 40px;
}

.popup .content .plot {
    display: flex;
    flex-wrap: wrap;
    margin: 0px -15px 40px;
}

.popup .content .plot img {
    flex: 1 1 50%;
    max-width: 300px;
    padding: 0px 15px;
}

.popup .content .plot p {
    flex: 1 1 50%;
    padding: 15px;
}

.popup .content .close{
    display: inline-block;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: 650;
    
    background: lightseagreen;
    color: whitesmoke;
    border-radius: 10px;
    outline: none;
    appearance: none;
    cursor: pointer;

    transition: 0.5s ease-out;
}

.popup .content .close:hover{
    background: darkred;
}

